@font-face {
  font-family: 'wtt-thin';
  src: local('wtt-thin'), url(../../assets/fonts/WTT-THIN.ttf) format('truetype');
}

.header {
  position: fixed;
  top: 0;
  // width: 100%;
  /* put this above the map drawer but below modal dialogs */
  z-index: 1250 !important;
  
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  font-size: 2.2rem;
}

.header__btn-menu {
  border: 1px gray;
  border-radius: 5px;
  outline: none;
  background-color: white;
  margin: 0 10px 0 0;
  padding: 0 20px;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 2px rgb(0 0 0 / 10%);
  box-shadow: 0 0 0 2pxrgba(0,0,0,.1);
}

.header__font{
  font-family: 'wtt-thin', Arial, sans-serif, "PT Sans";
  white-space: nowrap;
  letter-spacing: -3px;
  word-spacing: 0.6rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 0 0.5rem;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 2px rgb(0 0 0 / 10%);
  box-shadow: 0 0 0 2pxrgba(0,0,0,.1);
}


.header__font::first-letter {
  letter-spacing: 0;
}

.header:focus {
  outline: none;
}

.header__icon {
  height: 5vh;
}

.header__icon:hover {
  cursor: pointer;
}

.header__icon:focus {
  box-shadow: none;
  outline: none;
}

.header__link {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .header__icon {
    width: 70vw;
  }
  .header__font{
    word-spacing: 0.5rem;
  }

  .header__content {
    font-size: 1.8rem;
  }
}
